# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# SSL / Certificates
# =========================
*.crt
*.pem
*.key

# =========================
# Django specific
# =========================
staticfiles/
media/

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Testing / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Build / Distribution
# =========================
dist/
build/
*.egg-info/
